.input {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 16px;
  align-self: flex-start;
  color: var(--gray-100);
  width: 43vw;
}

@media screen and (max-width: 1024px) {
  .input {
    width: 60vw;
  }
}