.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 50vw;
}

.links a {
  text-decoration: none;
  font-size: .875rem;
  font-weight: 700;
  line-height: normal;
}

.created {
  color: var(--blue);
  display: flex;
  gap: .5rem;
}

.createdCount {
  background-color: var(--gray-400);
  color: var(--gray-200);
  border-radius: 8px;
  width: 1.5rem;
  display: flex;
  justify-content: center;
}

.done {
  color: var(--purple);
  display: flex;
  gap: .5rem;
}

.doneCount {
  background-color: var(--gray-400);
  color: var(--gray-200);
  border-radius: 8px;
  width: 2.5rem;
  display: flex;
  justify-content: center;
}

.tasks {
  width: 50vw;
}

@media screen and (max-width: 1024px) {

  .links, .tasks {
    width: 90vw;
  }
}