.container {
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container + .container {
  margin-top: 0.75rem;
}

.content {
  flex: 1;
  padding: 0 0.75rem;
}

.checkbox {
  background: transparent;
  border: 0;
  color: var(--blue);
}

.remove {
  background: transparent;
  border: 0;
  color: var(--gray-300)
}

p {
  color: var(--gray-100);
  font-size: .875rem;
  line-height: 140%;
}