.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width: 50vw;
}

.links a {
  text-decoration: none;
  color: var(--blue);
  font-size: .875rem;
  font-weight: 700;
  line-height: normal;
}

.tasks {
  width: 50vw;
}

@media screen and (max-width: 1024px) {

  .links, .tasks {
    width: 90vw;
  }
}